*{
    font-family: 'Poppins';
    font-style: medium;
    margin: 0;
    color: #FFFFFF;
}
body{
    background-color:#1E1E1E;
}
.cuadradoMorado{
    position: absolute;
    width: 50%;
    height: 4.5rem;
    background-color: #934CEE;
    display: inline;
    left: 0;
    top: 0;
    filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
}
.cuadradoNegro{
    position: absolute;
    width: 50%;
    height: 4.5rem;
    background-color:#1E1E1E;
    display: inline;
    left: 50%;
    top: 0;
    filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
}
#menu{
    max-width: 100%;
}

header {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: normal;
  }

.logo img{
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
  	align-items: flex-end;
}

nav ul {
    margin: 0;

  }
  
  nav ul li {
    display: inline-block;
    margin-left: 0;
    font-size: 1.25rem;
  }
  
  nav ul li a {
    text-decoration: none;
    color:#934CEE;
    margin: 1rem 5rem 1rem 20%;
    text-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.5);
  }
  
  nav ul li a:hover {
    color: #7529d8;
  }
.margen{
    margin: 1rem 5rem 1rem 3rem;
}
.letraNegra{
    color: #1E1E1E;
}
.letraMorada{
    color: #934CEE;
}

#inicio div{
    text-align: center;
}
#inicio h1{
    font-weight: 3.93rem;
    font-size: 2.5rem;
    color: #FFFFFF;
    padding-top: 0;
    
}
.invisible{
    visibility: hidden;
    width: 80px;
    height: 70px;
}
.cuadradoFoto{
    width: 550px;
    height: 335px;
    background-color: #934CEE;
    margin: 5rem 23.6rem 15rem 23.6rem;
    border-radius: 1rem;
    box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.5);
    filter: drop-shadow(0px -20px 100px #934CEE);  
}

#inicio div img{
    position: relative;
    width: 200px;
    border-radius: 100%;
    margin: -3.5rem;
}
.cuadradoFoto2{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 125px;
    background-color: #1E1E1E;
    margin: 5rem 0rem 0rem 6.3rem;
    border-radius: 1rem;
    box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.cuadradoFoto2 p{
    font-size: 24px;
    font-style: bold;
    margin-top: 10px;
    margin-bottom: -0.938rem;
    padding: 0px;
    text-align: center;
}
.azul {
    color: #2288FF;
    margin-bottom:0;
}
.cuadradoSobreMi1{
    width: 235px;
    height: 490px;
    background-color: #934CEE;
    margin: 0rem 23rem 15rem 5rem;
    border-radius: 1rem;
    filter: drop-shadow(0px -20px 100px #934CEE); 
}
.cuadradoSobreMi2{
    width: 245px;
    height: 590px;
    background-color: #934CEE;
    left: 0px;
    border-radius: 1rem;
    filter: drop-shadow(0px -20px 100px #934CEE);
}
.subcuadradoSobreMi{
    position: relative;
    display: flex;
    width: 150px;
    height: 60px;
    background-color: #1E1E1E;
    margin: 1rem;
    left: 25px;
    top: 15px;
    border-radius: 1rem;
    box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.5);
}
.subcuadradoSobreMi h2{
    font-size: 30px;
    font-style: bold;
    margin: 0.2rem;
    padding: 0px;
    text-align: center;
}
.subcuadradoSobreMi2{
    position: relative;
    flex-direction: column;
    display: flex;
    width: 610px;
    height: 380px;
    background-color: #1E1E1E;
    margin: 1rem;
    left: 30px;
    top: 10px;
    border-radius: 1rem;
    box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.5);
    
}
.subcuadradoSobreMi2 h4{
    font-size: 24px;
    font-style: bold;
    text-align: left;
    margin: 1rem;
    margin-bottom: 0.5rem;
    padding-right: 1rem;
}
.subcuadradoSobreMi2 p{
    font-size: 16px;
    font-style: medium;
    text-align: left;
    padding-left: 1rem;
    padding-right: 5px;
    padding-bottom: 10px;
}
